@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #D1D5DB;
    opacity: 1;
    display: block;
    background: url(./assets/calendar-event.svg) no-repeat;
    width: 1rem;
    height: 1rem;
    border-width: thin;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

  